<template>
    <div>

        <p v-for="message in messages">{{message.text}}</p>

        <input v-model="text" placeholder="edit me">

        <p @click="submitMessage">botann</p>
    </div>
</template>

<script>
    export default {
        mounted() {
            Echo.private('meet.' + 1)
                .listen('MessageCreateBroadcastEvent', (e) => {
                    console.log("aaaaaaaaaaaaaaaaa");
                    console.log(e);
                    this.messages.unshift(e.message);
                });
        },
        data() {
            return {
                text: '',
                messages: []
            }
        },
        methods: {
            submitMessage(e) {
                console.log('Submit a message')
                console.log(this.text)
                if (!this.text) {
                    return
                }
                this.$http.post('/meet/', {
                    text: this.text
                }).then((response) => {
                    console.log(response)
                    this.text = ''
                }, (response) => {
                    console.log(response)
                })
            },
        }
    }
</script>