<template>
    <div>
        <router-link :to="{name: 'home'}">
            <p class="card-body">
                部下の進捗
            </p>
        </router-link>

        <transition name="u-fade">
            <router-view></router-view>
        </transition>
    </div>
</template>

<script>
    export default {}
</script>